<div class='container'>
  <h1 class='smaller-headline'>
    <img src='/images/reddcoin.png' />
    MYLO
  </h1>
  <div class='page'>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">MYLO</a>-->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home"><i class="fa fa-dashboard"></i>  Dashboard</a></li>
          <li><a href="/recipients"><i class="fa fa-users"></i>  Recipients</a></li>
          <li><a href="/subscriptions"><i class="fa fa-calendar"></i>  Subscriptions</a></li>
          <li><a href="/schedules"><i class="fa fa-clock-o"></i>  Scheduler</a></li>
          <li><a href="/transactions"><i class="fa fa-money"></i>  Transactions</a></li>
          <li><a href="/faq"><i class="fa fa-question"></i>  FAQ</a></li>
          <li><a href="/sessions/destroy"><i class="fa fa-sign-out"></i>  Logout</a></li>
        </ul>
      </div>
    </nav>
    <hr class='sep' />
    <div class="alert alert-info" role="alert">
      <div class='container'>
        MYLO is under active development and should be considered 'experimental'.<br />
        It is being built for the <a href='http://www.reddit.com/r/reddCoin/comments/27tc1q/update_reddapi_app_competition_10_million/'>ReddAPI app contest</a>. 
        Please bear with me whilst I iron out some bugs and improve the UX of the app. Thanks, G. 30/06/14
      </div>
    </div>
    <div class='containerr'>
      <div class='content'>
        <div class='col-md-5'>
          <% if @balances['ConfirmedBalance'] > 1000 %>
            <div class='panel panel-success' id='balance-cont'>
          <% else %>
            <div class='panel panel-danger' id='balance-cont'>
          <% end %>
            <div class='panel-heading'><h4 class='panel-title'>Current RDD Balance</h4></div>
            <div class='panel-body'>
              <% if @balances['ConfirmedBalance'] > 1000 %>
                <p>Confirmed: <span class='green'><%= @balances['ConfirmedBalance'] %></span></p>
                <p>Pending: <%= @balances['PendingDeposits'] %></p>
              <% else %>
                <p>Confirmed: <span class='red'><%= @balances['ConfirmedBalance'] %></span></p>
                <p>Pending: <%= @balances['PendingDeposits'] %></p>
                <p>Send RDD to your MYLO address below to get started</p>
              <% end %>
            </div>
          </div>
          <div class='panel panel-default'>
            <div class='panel-heading'><h4 class='panel-title'>MYLO Address</h4></div>
            <div class='panel-body'><%= @user.address %></div>
          </div>
          <hr />
          <div class='panel panel-default'>
            <div class='panel-heading'><h4 class='panel-title'>Coming Soon</h4></div>
            <div class='panel-body'>
              <ul>
                <li>Upcoming subscriptions due</li>
                <li>Activity graph by type</li>
                <li>Quick actions</li>
              </ul>
            </div>
          </div>
        </div>
        <div class='col-md-7'>
          <ul class="timeline">
            <% @activities.each do |a| %>
              <% if a.type == 'add-recipient' || a.type == 'add-subscription' %>
                <li class="timeline-inverted">
                  <div class="timeline-badge"><i class="glyphicon glyphicon-plus"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= a.description %></h4>
                      <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> <%= a.created_at %></small></p>
                    </div>
                  </div>
                </li>
              <% else %>
                <li>
                  <div class="timeline-badge">
                    <i class="glyphicon glyphicon-check"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= a.description %></h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= a.created_at %></small></p>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
